html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding-top: 100 px; /* Para que el menú fijo no tape el contenido */
    background-color: #f9f9f9;
}

/* Estilos del Menú */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10 px 5 %;
    position: fixed;
    top: 0;
    width: 90 %;
    box-shadow: 0 2 px 10 px rgba (0,0,0,0.1);
    z-index: 1000;
}

.logo {
    font-weight: bold;
    font-size: 1.5 rem;
    color: #2c3e50;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20 px;
}

.nav-links a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: 500;
    transition: color 0.3 s;
}

.nav-links a:hover {
    color: #3498db;
}

/* Ajuste del Header */
header {
    background: linear-gradient (135 deg, #2c3e50, #34495e);
    color: white;
    padding: 80 px 20 px;
    text-align: center;
}
